@import 'tailwindcss';

@font-face {
    font-family: 'Jersey';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Jersey'), url('/Jersey.woff2') format('woff2');
    unicode-range: U+020-07F;
}

@theme {
    --font-display: 'Jersey', system-ui, sans-serif;

    --color-*: initial;
    --color-default: hsl(231, 19%, 100%);
    --color-main: hsl(231, 19%, 20%);
    --color-highlight: hsla(231, 19%, 85%, 0.7);
    --color-text: hsl(231, 19%, 52%);

    --breakpoint-2xs: 22rem;
    --breakpoint-xs: 29rem;
}

a {
    @apply text-text underline decoration-2;
}

strong {
    @apply font-semibold;
}
